PROFILE
<br><br>
<!--This is for displaying existing user profile upon login-->
<div class="profile-outer-container">
         
<div class="row">
  <div class="col-md-4">
      <div class="column"><h3 style="color: #00BFFF">Fitness Index <strong style="color:white">{{user.fitness_index}}</strong></h3></div>
    <div class="img-rounded">
      <img src="./styles/images/mason.jpg" alt="..." class="img-rounded">
      <div class="caption">
        <h3>{{user.profile_name}}</h3>
        <p>{{user.about}}</p>
        <div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Activity</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="text-align:center">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="background-color: #5190ED">Recent User Activity</h4>
        </div>
        <div class="modal-body" style="color: #5190ED">
          <!--<p>{{completed}}</p>-->
          <ol>
            <li>100   |   push-ups   |   2017-06-05</li>
            <li>100   |   sit-ups    |   2017-06-05</li>
            <li>50    |   pacers     |   2017-06-05</li>
            <li>1.5   |   running    |   2017-06-05</li>
            <li>100   |   push-ups   |   2017-06-02</li>
            <li>100   |   sit-ups    |   2017-06-02</li>
            <li>50    |   pacers     |   2017-06-02</li>
            <li>1.5   |   running    |   2017-06-02</li>
          </ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

      </div>
    </div>
  </div>
  
  <div class="col-md-4" style="text-align: center">
    <h2>Top 5 Leaderboard</h2>
   <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Fitness Index</th>
       </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tom Brady</td>
            <td>17</td>
        </tr>
        <tr>
            <td>Joe Montana</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Mean Joe Greene</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Barry Sanders</td>
            <td>7</td>
        </tr>
    </tbody>
</table>
 </div>
 <div class="col-md-4" style="text-align:center">
   <h2>Log Activity</h2>
      <div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Running</h4>
    <p class="list-group-item-text">How many miles did you run today?</p>
  </a>
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Sprinting</h4>
    <p class="list-group-item-text">How many meters did you sprint today?</p>
  </a>
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Push-ups</h4>
    <p class="list-group-item-text">How many push-ups did you do today?</p>
  </a>
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Sit-ups</h4>
    <p class="list-group-item-text">How many sit-ups did you do today?</p>
  </a>
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Pacers</h4>
    <p class="list-group-item-text">How many pacers did you complete today?</p>
  </a>
</div>
  </div>
</div>
<!--<div class="friends">{{users}}this is a feed of friends or all users with user name and fitness-index along with completed-activities</div>-->
<!--<div class="row">
<div class="col-md-12">

</div>
</div>-->
<!--<div class="log-allusers" style="background-color: yellow">{{allusers}}</div>-->
<!--<div class="log-activitiesname" style="background-color: purple">{{activitiesname}}</div>
<div class="log-activity" style="background-color: blue">{{activities}}</div>
<div class="log-completed" style="background-color: orange">{{completed}}</div>-->
</div>
        <!--<div class="friends">{{users}}this is a feed of friends or all users with user name and fitness-index along with completed-activities</div>-->
        <!--<div class="update-profile">form to updateUser profile (does this need to go to another page?)-->
            <!--<input type="text" ng-model="user.name_first">
            <input type="text" ng-model="user.name_last">
            <input type="text" ng-model="user.email">
            -what about the image?
            <input type="submit" value="Submit" id="input-submit" ng-click="updateUser(user)">
            (alternative)<button type="button" ng-click="updateUser(user)">update</button>-->
        <!--</div>-->


            


