.profile-outer-container {
    color: #fff;
    padding: 0;
    margin: 0;
    max-width: 1230px;
}
.row {
    padding-top: 0;
    padding-left: 7%;
}
.column {
    font-size: 24px;
    color: white;
}

ol.v {list-style-type: none;}

table {
  border-collapse: separate;
  background:#fff;
  border-radius:(5px);
  margin:50px auto;
  box-shadow:(0px 0px 5px rgba(0,0,0,0.3));
}

thead {
  border-radius:(5px);
}

thead th {
  /*font-family: 'Patua One', cursive;*/
  font-size:16px;
  font-weight:400;
  color:#fff;
  text-shadow:(1px 1px 0px rgba(0,0,0,0.5));
  text-align: left;
  padding:20px;
  background-image:(linear-gradient(#0099cc, #5190ED));
  border-top:1px solid #858d99;
} 
  th:first-child {
   border-top-left-radius:(5px); 
  }

  th:last-child {
    border-top-right-radius:(5px); 
  }


tbody tr td {
  /*font-family: 'Open Sans', sans-serif;*/
  font-weight:400;
  color:#236B8E;
  font-size:14px;
  padding:20px 20px 20px 20px;
  border-bottom:1px solid #e0e0e0;
  
}

tbody tr:nth-child(2n) {
  background:#f0f3f5;
}

tbody tr:last-child td {
  border-bottom:none;
  border-bottom-left-radius:(5px);
  }
  :last-child {
   border-bottom-right-radius:(5px);
  }


tbody:hover > tr td {
  opacity:(0.5);
  
  /* uncomment for blur effect */
  /* color:transparent;
  @include text-shadow(0px 0px 2px rgba(0,0,0,0.8));*/
}

tbody:hover > tr:hover td {
  text-shadow:(none);
  color:#2d2d2d;
  opacity:(1.0);
}

.push_button {
	position: relative;

	width:220px;
	height:40px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	line-height:43px;
	font-family:'Oswald', Helvetica;
	display: inline-block;
	margin: 30px;
}
.push_button:before {
	background:#f0f0f0;
	
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
	box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
	
	position: absolute;
	content: "";
	left: -6px; right: -6px;
	top: -6px; bottom: -10px;
	z-index: -1;
}

.push_button:active {
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
	top:5px;
}
.push_button:active:before{
	top: -11px;
	bottom: -5px;
	content: "";
}

.blue {
	/*text-shadow:-1px -1px 0 white;*/
	background: #3EACBA;
	border:1px solid #0276FD;
	background-image:-webkit-linear-gradient(top, #1C86EE, #104E8B);
	background-image:-moz-linear-gradient(top, #1C86EE, #104E8B);
	background-image:-ms-linear-gradient(top, #1C86EE, #104E8B);
	background-image:-o-linear-gradient(top, #1C86EE, #104E8B);
	background-image:linear-gradient(top, #1C86EE, #104E8B);
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #1874CD, 0 4px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #1874CD, 0 4px 2px rgba(0, 0, 0, .5);
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #1874CD, 0 4px 2px rgba(0, 0, 0, .5);
}

.blue:hover {
	background: #48C6D4;
	background-image:-webkit-linear-gradient(top, #63B8FF, #0276FD);
	background-image:-moz-linear-gradient(top, #63B8FF, #0276FD);
	background-image:-ms-linear-gradient(top, #63B8FF, #0276FD);
	background-image:-o-linear-gradient(top, #63B8FF, #0276FD);
}